{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block title %}Detalhar Nerd{% endblock %}


{% block content %}
<div class="container">
    <div class="mb-4">
    <h1 class="text-start">Sobre {{ nerd.nome }}</h1>
    </div>
    <div class="row">
        <div class="col">


            <img src="{{ nerd.foto.url }}"
                alt="{{ nerd.nome }}" width="550">
        </div>
        <div class="col">
            <h4 class="text-start">Nome: </h4>
            <p class="lead text-start">{{ nerd.nome }}</p>
            <h4 class="text-start">Filme/Série: </h4>
            <p class="lead text-start"><a class="link-primary" href="{% url 'detalhar-midia' nerd.midia.id %}">{{ nerd.midia }}</a></p>
            <h4 class="text-start">Interpreção de: </h4>
            {% for interprete in nerd.interprete.all %}
            <p class="lead text-start"><a class="link-primary" href="{% url 'detalhar-artista' interprete.id %}">{{ interprete }}</a></p>
            {% endfor %}
            <h4 class="text-start">Profissão: </h4>
            <p class="lead text-start">{{ nerd.profissao }}</p>
            

        </div>
        <div>
            <h4 class="text-start">Sobre: </h4>
            <p class="lead text-start">{{ nerd.sobre }}</p>
        </div>
        <hr>


    </div>
        <a class="btn btn-primary" href="{% url 'atualizar-nerd' nerd.id %}">Atualizar Nerd</a>
        <a class="btn btn-danger" href="{% url 'deletar-nerd' nerd.id %}">Apagar Nerd</a>
        
</div>
{% endblock %}