{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block title %}Nerds{% endblock %}


{% block content %}
<main class="container">
    <h1 class="text-start">Lista de Nerds</h1>
    {% bootstrap_messages %}
    <ul class="list-group list-group-flush">
        {% for nerd in nerds %}
        <li class="list-group-item list-group-item-dark">

            <img src="{{ nerd.foto.url }}"
                alt="" width="100">

            <a href="{% url 'detalhar-nerd' nerd.id %}">{{nerd.nome}}</a>
        </li>
        {% endfor %}
    </ul>
</main>


{% endblock %}