{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block title %}Detalhar Autor{% endblock %}


{% block content %}

<div class="container mt-3">

    <div>

        <h4 class="text-start">Nome: </h4>
        <p class="lead text-start">{{ autor.nome }} {{ autor.sobrenome }}</p>
        <h4 class="text-start">Email: </h4>
        <p class="lead text-start">{{ autor.email }}</p>
        <h4 class="text-start">Telefone: </h4>
        <p class="lead text-start">{{ autor.telefone }}</p>

    </div>
    <div>
        <h2>Post de {{ autor.nome }} {{ autor.sobrenome }}</h2>

        <ul class="list-group list-group-flush my-5">
            {% for post in autor.posts.all %}
            <li class="list-group-item">
                <a href="{% url 'detalhar-post' post.id %}">{{post.titulo}}</a>
            </li>
            {% endfor %}
        </ul>

    </div>


</div>

{% endblock %}