{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block title %}Filmes/Séries{% endblock %}


{% block content %}
<main class="container">
    <h1 class="text-start">Lista de Filmes/Séries</h1>
    {% bootstrap_messages %}
    <ul class="list-group list-group-flush">
        {% for midia in midias %}
        <li class="list-group-item list-group-item-dark">

            <img src="{{ midia.foto.url }}"
                alt="" width="100">

            <a href="{% url 'detalhar-midia' midia.id %}">{{midia.titulo}}</a>
        </li>
        {% endfor %}
    </ul>
</main>


{% endblock %}