{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block title %}Home{% endblock %}


{% block content %}
<main class="p-5 m-5">
    <h1 class="text-center">Somos Todos Nerds</h1>
    <p class="lead text-center">Somos apaixonados por quadrinhos, games, filmes de ficção, tecnologia. Quando
        gostamos de algo nos aprofundamos bastante. Gostamos de resolver problemas e somos superinteligente e
        perspicazes, temos um humor único. Podemos até ser um pouco diferentes, mas SOMOS TODOS NERDS!</p>
    <p class="lead text-center">
        <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Navegue</a>
    </p>
</main>
{% endblock %}